USE [master]
GO
/****** Object:  Database [blog]    Script Date: 27/08/2021 19:03:32 ******/
CREATE DATABASE [blog]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'blog', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\blog.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'blog_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\blog_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [blog].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [blog]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 27/08/2021 19:03:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ActivityLogs]    Script Date: 27/08/2021 19:03:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Actor] [nvarchar](max) NULL,
	[Data] [nvarchar](max) NULL,
	[UseCaseName] [nvarchar](max) NULL,
 CONSTRAINT [PK_ActivityLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 27/08/2021 19:03:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 27/08/2021 19:03:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Author] [nvarchar](max) NULL,
	[CommetText] [nvarchar](150) NULL,
	[PostId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Approved] [bit] NOT NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Likes]    Script Date: 27/08/2021 19:03:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Likes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[PostId] [int] NOT NULL,
 CONSTRAINT [PK_Likes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostCategories]    Script Date: 27/08/2021 19:03:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PostId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_PostCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostImages]    Script Date: 27/08/2021 19:03:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Src] [nvarchar](450) NOT NULL,
	[Alt] [nvarchar](max) NOT NULL,
	[PostId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_PostImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 27/08/2021 19:03:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Like] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Posts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 27/08/2021 19:03:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](30) NOT NULL,
	[LastName] [nvarchar](30) NOT NULL,
	[Email] [nvarchar](80) NOT NULL,
	[Username] [nvarchar](30) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserUseCase]    Script Date: 27/08/2021 19:03:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserUseCase](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[UseCaseId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_UserUseCase] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210821171842_added group table', N'5.0.9')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210822191436_added tables without configurations', N'5.0.9')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210822191922_fixed problem with added tables without configuration', N'5.0.9')
GO
SET IDENTITY_INSERT [dbo].[ActivityLogs] ON 

INSERT [dbo].[ActivityLogs] ([Id], [CreatedAt], [Actor], [Data], [UseCaseName]) VALUES (1, CAST(N'2021-08-23T23:07:44.6280504' AS DateTime2), N'nikola', N'{"Username":null}', N'Get Users Using EF')
INSERT [dbo].[ActivityLogs] ([Id], [CreatedAt], [Actor], [Data], [UseCaseName]) VALUES (2, CAST(N'2021-08-24T01:26:34.0583820' AS DateTime2), N'Anonymous Actor', N'{"Id":null,"Title":null,"Content":null,"Like":0,"UserId":0,"CategoryIds":null}', N'Create Post Using EF')
INSERT [dbo].[ActivityLogs] ([Id], [CreatedAt], [Actor], [Data], [UseCaseName]) VALUES (3, CAST(N'2021-08-24T01:28:43.0783280' AS DateTime2), N'Anonymous Actor', N'{"Id":null,"Title":"post1","Content":"sadrzaj posta","Like":0,"UserId":8,"CategoryIds":null}', N'Create Post Using EF')
GO
SET IDENTITY_INSERT [dbo].[ActivityLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [CreatedAt], [UpdatedAt], [DeletedAt], [IsDeleted], [IsActive]) VALUES (7, N'european economics', CAST(N'2021-08-27T16:48:31.4238051' AS DateTime2), NULL, NULL, 0, 1)
INSERT [dbo].[Categories] ([Id], [Name], [CreatedAt], [UpdatedAt], [DeletedAt], [IsDeleted], [IsActive]) VALUES (8, N'worldwide economics', CAST(N'2021-08-27T16:48:53.7062382' AS DateTime2), NULL, NULL, 0, 1)
INSERT [dbo].[Categories] ([Id], [Name], [CreatedAt], [UpdatedAt], [DeletedAt], [IsDeleted], [IsActive]) VALUES (9, N'economics during pandemic', CAST(N'2021-08-27T16:49:06.1944414' AS DateTime2), NULL, NULL, 0, 1)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([Id], [Author], [CommetText], [PostId], [CreatedAt], [UpdatedAt], [DeletedAt], [IsDeleted], [IsActive], [Approved]) VALUES (5, N'nevenka', N'Thanks, this helped a lot!', 20, CAST(N'2021-08-27T18:03:48.8772885' AS DateTime2), NULL, NULL, 0, 1, 0)
INSERT [dbo].[Comments] ([Id], [Author], [CommetText], [PostId], [CreatedAt], [UpdatedAt], [DeletedAt], [IsDeleted], [IsActive], [Approved]) VALUES (6, N'nevenka', N'Those are some solid solutions', 21, CAST(N'2021-08-27T18:04:27.6989462' AS DateTime2), CAST(N'2021-08-27T18:05:47.6440213' AS DateTime2), NULL, 0, 1, 1)
INSERT [dbo].[Comments] ([Id], [Author], [CommetText], [PostId], [CreatedAt], [UpdatedAt], [DeletedAt], [IsDeleted], [IsActive], [Approved]) VALUES (7, N'sinisa', N'Very interesting post', 21, CAST(N'2021-08-27T18:05:02.9782271' AS DateTime2), CAST(N'2021-08-27T18:05:32.0758286' AS DateTime2), NULL, 0, 1, 1)
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
SET IDENTITY_INSERT [dbo].[Likes] ON 

INSERT [dbo].[Likes] ([Id], [UserId], [PostId]) VALUES (39, 17, 20)
INSERT [dbo].[Likes] ([Id], [UserId], [PostId]) VALUES (40, 17, 21)
INSERT [dbo].[Likes] ([Id], [UserId], [PostId]) VALUES (41, 17, 24)
SET IDENTITY_INSERT [dbo].[Likes] OFF
GO
SET IDENTITY_INSERT [dbo].[PostCategories] ON 

INSERT [dbo].[PostCategories] ([Id], [PostId], [CategoryId], [CreatedAt], [UpdatedAt], [DeletedAt], [IsDeleted], [IsActive]) VALUES (28, 20, 7, CAST(N'2021-08-27T17:38:03.2214851' AS DateTime2), NULL, NULL, 0, 1)
INSERT [dbo].[PostCategories] ([Id], [PostId], [CategoryId], [CreatedAt], [UpdatedAt], [DeletedAt], [IsDeleted], [IsActive]) VALUES (29, 20, 9, CAST(N'2021-08-27T17:38:03.2218034' AS DateTime2), NULL, NULL, 0, 1)
INSERT [dbo].[PostCategories] ([Id], [PostId], [CategoryId], [CreatedAt], [UpdatedAt], [DeletedAt], [IsDeleted], [IsActive]) VALUES (30, 21, 8, CAST(N'2021-08-27T17:51:35.0303744' AS DateTime2), NULL, NULL, 0, 1)
SET IDENTITY_INSERT [dbo].[PostCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[PostImages] ON 

INSERT [dbo].[PostImages] ([Id], [Src], [Alt], [PostId], [CreatedAt], [UpdatedAt], [DeletedAt], [IsDeleted], [IsActive]) VALUES (11, N'90f4398a-5f9c-4fe3-948a-9c3397ccf09d_ChampagneTower750-300x200.jpg', N'Invest in infrastructure, education and public health 90f4398a-5f9c-4fe3-948a-9c3397ccf09d_ChampagneTower750-300x200.jpg', 20, CAST(N'2021-08-27T17:38:03.2218039' AS DateTime2), NULL, NULL, 0, 1)
INSERT [dbo].[PostImages] ([Id], [Src], [Alt], [PostId], [CreatedAt], [UpdatedAt], [DeletedAt], [IsDeleted], [IsActive]) VALUES (12, N'29d97a6d-8536-4816-bff2-44c5bef986c7_Zoombie400.jpg', N'The virtues of virtual higher education 29d97a6d-8536-4816-bff2-44c5bef986c7_Zoombie400.jpg', 21, CAST(N'2021-08-27T17:51:35.0303848' AS DateTime2), NULL, NULL, 0, 1)
INSERT [dbo].[PostImages] ([Id], [Src], [Alt], [PostId], [CreatedAt], [UpdatedAt], [DeletedAt], [IsDeleted], [IsActive]) VALUES (13, N'6602e3fc-7707-4ae7-a983-0b33c3c499a4_COVIDLayoffs.jpg', N'How gift certificates can help (a little) to support local businesses? 6602e3fc-7707-4ae7-a983-0b33c3c499a4_COVIDLayoffs.jpg', 22, CAST(N'2021-08-27T17:52:26.4196111' AS DateTime2), NULL, NULL, 0, 1)
SET IDENTITY_INSERT [dbo].[PostImages] OFF
GO
SET IDENTITY_INSERT [dbo].[Posts] ON 

SET IDENTITY_INSERT [dbo].[Posts] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Email], [Username], [Password], [CreatedAt], [UpdatedAt], [DeletedAt], [IsDeleted], [IsActive]) VALUES (16, N'Nikola', N'Jevric', N'nikola@gmail.com', N'nikola', N'sifra1', CAST(N'2021-08-27T16:17:51.1066092' AS DateTime2), NULL, NULL, 0, 1)
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Email], [Username], [Password], [CreatedAt], [UpdatedAt], [DeletedAt], [IsDeleted], [IsActive]) VALUES (17, N'Sinisa', N'Jevric', N'sinisa@gmail.com', N'sinisa', N'sifra2', CAST(N'2021-08-27T16:26:44.3128858' AS DateTime2), NULL, NULL, 0, 1)
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Email], [Username], [Password], [CreatedAt], [UpdatedAt], [DeletedAt], [IsDeleted], [IsActive]) VALUES (18, N'Nevenka', N'Jevric', N'nevenka@gmail.com', N'nevenka', N'sifra3', CAST(N'2021-08-27T16:35:01.5987640' AS DateTime2), NULL, NULL, 0, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[UserUseCase] ON 

INSERT [dbo].[UserUseCase] ([Id], [UserId], [UseCaseId], [CreatedAt], [UpdatedAt], [DeletedAt], [IsDeleted], [IsActive]) VALUES (67, 16, 3, CAST(N'2021-08-27T16:17:51.1057140' AS DateTime2), NULL, NULL, 0, 1)
INSERT [dbo].[UserUseCase] ([Id], [UserId], [UseCaseId], [CreatedAt], [UpdatedAt], [DeletedAt], [IsDeleted], [IsActive]) VALUES (68, 16, 4, CAST(N'2021-08-27T16:17:51.1066159' AS DateTime2), NULL, NULL, 0, 1)
INSERT [dbo].[UserUseCase] ([Id], [UserId], [UseCaseId], [CreatedAt], [UpdatedAt], [DeletedAt], [IsDeleted], [IsActive]) VALUES (69, 16, 17, CAST(N'2021-08-27T16:17:51.1066174' AS DateTime2), NULL, NULL, 0, 1)
SET IDENTITY_INSERT [dbo].[UserUseCase] OFF
GO
/****** Object:  Index [IX_Categories_Id]    Script Date: 27/08/2021 19:03:32 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Categories_Id] ON [dbo].[Categories]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comments_PostId]    Script Date: 27/08/2021 19:03:32 ******/
CREATE NONCLUSTERED INDEX [IX_Comments_PostId] ON [dbo].[Comments]
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Likes_PostId]    Script Date: 27/08/2021 19:03:32 ******/
CREATE NONCLUSTERED INDEX [IX_Likes_PostId] ON [dbo].[Likes]
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PostCategories_CategoryId]    Script Date: 27/08/2021 19:03:32 ******/
CREATE NONCLUSTERED INDEX [IX_PostCategories_CategoryId] ON [dbo].[PostCategories]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PostCategories_PostId]    Script Date: 27/08/2021 19:03:32 ******/
CREATE NONCLUSTERED INDEX [IX_PostCategories_PostId] ON [dbo].[PostCategories]
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PostImages_PostId]    Script Date: 27/08/2021 19:03:32 ******/
CREATE NONCLUSTERED INDEX [IX_PostImages_PostId] ON [dbo].[PostImages]
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PostImages_Src]    Script Date: 27/08/2021 19:03:32 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_PostImages_Src] ON [dbo].[PostImages]
(
	[Src] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Posts_UserId]    Script Date: 27/08/2021 19:03:32 ******/
CREATE NONCLUSTERED INDEX [IX_Posts_UserId] ON [dbo].[Posts]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 27/08/2021 19:03:32 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Username]    Script Date: 27/08/2021 19:03:32 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Username] ON [dbo].[Users]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserUseCase_UserId]    Script Date: 27/08/2021 19:03:32 ******/
CREATE NONCLUSTERED INDEX [IX_UserUseCase_UserId] ON [dbo].[UserUseCase]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (CONVERT([bit],(0))) FOR [Approved]
GO
ALTER TABLE [dbo].[PostImages] ADD  DEFAULT (N'') FOR [Src]
GO
ALTER TABLE [dbo].[PostImages] ADD  DEFAULT (N'') FOR [Alt]
GO
ALTER TABLE [dbo].[Posts] ADD  DEFAULT (N'') FOR [Title]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (N'') FOR [FirstName]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (N'') FOR [LastName]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (N'') FOR [Email]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (N'') FOR [Username]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (N'') FOR [Password]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Posts_PostId] FOREIGN KEY([PostId])
REFERENCES [dbo].[Posts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Posts_PostId]
GO
ALTER TABLE [dbo].[Likes]  WITH CHECK ADD  CONSTRAINT [FK_Likes_Posts_PostId] FOREIGN KEY([PostId])
REFERENCES [dbo].[Posts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Likes] CHECK CONSTRAINT [FK_Likes_Posts_PostId]
GO
ALTER TABLE [dbo].[PostCategories]  WITH CHECK ADD  CONSTRAINT [FK_PostCategories_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PostCategories] CHECK CONSTRAINT [FK_PostCategories_Categories_CategoryId]
GO
ALTER TABLE [dbo].[PostCategories]  WITH CHECK ADD  CONSTRAINT [FK_PostCategories_Posts_PostId] FOREIGN KEY([PostId])
REFERENCES [dbo].[Posts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PostCategories] CHECK CONSTRAINT [FK_PostCategories_Posts_PostId]
GO
ALTER TABLE [dbo].[PostImages]  WITH CHECK ADD  CONSTRAINT [FK_PostImages_Posts_PostId] FOREIGN KEY([PostId])
REFERENCES [dbo].[Posts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PostImages] CHECK CONSTRAINT [FK_PostImages_Posts_PostId]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_Posts_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_Posts_Users_UserId]
GO
ALTER TABLE [dbo].[UserUseCase]  WITH CHECK ADD  CONSTRAINT [FK_UserUseCase_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserUseCase] CHECK CONSTRAINT [FK_UserUseCase_Users_UserId]
GO
USE [master]
GO
